@page "/login"
@layout LoginLayout
@inject IUriHelper uriHelper
@inject AuthenticationState state

<h1 class="h2 font-weight-normal login-title">
    Blazor with Identity Sample
</h1>

@*TODO: Add client-side validation*@

<form class="form-signin" onsubmit="@OnSubmit">
    <h4 class="font-weight-normal text-center">Login</h4>

    <label for="inputUsername" class="sr-only">User Name</label>
    <input id="inputUsername" class="form-control" placeholder="Username" required autofocus bind="@loginParameters.UserName" />

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required bind="@loginParameters.Password" />

    <div class="form-check m-3">
        <input type="checkbox" id="inputRememberMe" class="form-check-input" bind="@loginParameters.RememberMe" />
        <label class="form-check-label" for="inputRememberMe">Remember Me</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <label class="text-danger">@error</label>
    <NavLink href="register">
        <h6 class="font-weight-normal text-center">Create account</h6>
    </NavLink>
</form>

@functions{

    LoginParameters loginParameters { get; set; } = new LoginParameters();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await state.Login(loginParameters);
            uriHelper.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}