@page "/register"
@layout LoginLayout
@inject IUriHelper uriHelper
@inject AuthenticationState state

<h1 class="h2 font-weight-normal login-title">
    Blazor with Identity Sample
</h1>

@*TODO: Add client-side validation*@

<form class="form-signin" onsubmit="@OnSubmit">
    <h4 class="font-weight-normal text-center">Create Account</h4>
    
    <label for="inputUsername" class="sr-only">Username</label>
    <input id="inputUsername" class="form-control" placeholder="Username" required autofocus bind="@registerParameters.Username" />
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required bind="@registerParameters.Password" />

    <label for="inputPasswordConfirm" class="sr-only">Password Confirmation</label>
    <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirmation" required bind="@registerParameters.PasswordConfirm" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>

    <label class="text-danger">@error</label>
    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Already have an account? Click here to login</h6>
    </NavLink>
</form>

@functions{

    RegisterParameters registerParameters { get; set; } = new RegisterParameters();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await state.Register(registerParameters);
            uriHelper.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}